@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--primary-color);   
}